* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

header .logo a {
    font-size: 1.5em;
    color: white;
}

header .navigation ul {
    display: flex;
    list-style: none;
}

header .navigation li {
    margin-left: 20px;
}

header .navigation a {
    color: white;
    font-weight: bold;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons input[type="text"] {
    padding: 5px;
    margin-right: 15px;
    border: none;
    border-radius: 3px;
}

.header-icons a {
    margin-left: 15px;
    color: white;
    font-weight: bold;
}

.banner {
    text-align: center;
    padding: 20px;
    background-color: rgb(12, 89, 205);
}

.banner h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.banner img {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
}

.categorieen {
    display: inline-flexbox;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.categorie {
    background-color: #fff;
    padding: 15px 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer
}

.categorie:hover {
    transform: scale(1.05);
}

.categorie a {
    color: #333;
    font-weight: bold;
}

.product-overzicht {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.productkaart {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.productkaart:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.productkaart img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.productkaart h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.productkaart p {
    margin: 5px 0;
}

.productkaart button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.productkaart button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-links,
.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-links a,
.social-media a {
    color: #fff;
    font-weight: bold;
}

footer p {
    font-size: 0.9em;
    margin-top: 10px;
    color: #ccc;
}